<p class="title is-4 has-text-centered">User Details</p>

<div *ngIf="userDetails">

  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ userDetails.firstName }} <span *ngIf="userDetails.userConfig.showLastName">{{ userDetails.lastName }}</span></p>
              <p class="subtitle is-6"><span *ngIf="userDetails.userConfig.showEmail">{{ userDetails.email }}</span></p>
            </div>
          </div>
          <div class="content">
            <div *ngIf="userDetails.userConfig.showPhone">
              <label for="phone">Phone:</label><span id="phone"> {{ userDetails.phone }}</span><br>
            </div>
            <div *ngIf="userDetails.isVetEnabled">
              <label for="address">Address:</label><span id="address"> {{ userDetails.address }}</span><br>
            </div>
            <div *ngIf="userDetails.isVetEnabled">
              <label for="resume">Resume:</label><span id="resume"> {{ userDetails.resume }}</span><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="title is-4 has-text-centered">User's Pets</p>

  <table class="table">
    <thead>
      <tr>
        <th title="Image">Image</th>
        <th title="Name">Name</th>
        <th title="Born date">Born date</th>
        <th title="Species">Species</th>
        <th title="Race">Race</th>
        <th title="Sex">Sex</th>
        <th title="Color">Color</th>
        <th title="Observations">Observations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of userDetails.ownersPets">
        <td><img src="{{ imagesHost }}{{ pet.images[0].path }}" alt="pet image" class="petImage"></td>
        <td><a [routerLink]="[ '/pets', pet.id ]">{{ pet.name }}</a></td>
        <td>{{ pet.bornDate }}</td>
        <td>{{ pet.species }}</td>
        <td>{{ pet.race }}</td>
        <td>{{ pet.sex }}</td>
        <td>{{ pet.color }}</td>
        <td>{{ pet.observations }}</td>
      </tr>
    </tbody>
  </table>

</div>
