<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item"><img src="assets/petclinic_logo.png"></a>
    <div class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-menu" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
  </div>
  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/" class="navbar-item">Home</a>
      <a class="navbar-item">Documentation</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">More</a>
        <div class="navbar-dropdown">
          <a class="navbar-item">About</a>
          <a class="navbar-item">Contact</a>
          <hr class="navbar-divider">
          <a href="https://github.com/gabrielromagnoli1987/taller_java_final_work_frontend/issues/new" target="_blank" class="navbar-item">
            Report an issue<i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div *ngIf="!isLogged()">
            <a routerLink="/sign-up" class="button is-primary">Sign up</a>
            <a routerLink="/login" class="button is-primary">Login</a>
          </div>
          <div *ngIf="isLogged()">
            <a *ngIf="isOwner()" routerLink="/pets/create" class="button is-primary">Add Pet</a>
            <a (click)="goToMyProfile()" class="button is-primary">My Profile</a>
            <a href="#" (click)="logout()" class="button is-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <img src="assets/pets.jpg" width="480">
    <p>
      <strong>Pet Clinic</strong> by <a href="https://www.linkedin.com/in/gabrielromagnoli" target="_blank">Gabriel Romagnoli</a>.
    </p>
  </div>
</footer>
