<p class="title is-4 has-text-centered">Pet Details</p>

<div *ngIf="pet">

  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-image">
            <!-- Start Carousel -->
            <figure class="is-4by3 hero is-large has-carousel">
              <div id="carousel-pet-images" class="hero-carousel">
                <div *ngFor="let image of pet.images; let i = index" [ngClass]="'item-'+i">
                  <img src="{{ imagesHost }}{{ image.path }}" alt="pet image">
                </div>
              </div>
              <div class="hero-head"></div>
              <div class="hero-body"></div>
              <div class="hero-foot"></div>
            </figure>
            <!-- End Carousel -->
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="{{ imagesHost }}{{ pet.images[0].path }}" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5">Name: {{ pet.name }}</p>
              <p class="subtitle is-6">Born date: {{ pet.bornDate }}</p>
            </div>
          </div>
          <div class="content">
            <div>
              <label for="species">Species:</label><span id="species"> {{ pet.species }}</span><br>
            </div>
            <div>
              <label for="race">Race:</label><span id="race"> {{ pet.race }}</span><br>
            </div>
            <div>
              <label for="sex">Sex:</label><span id="sex"> {{ pet.sex }}</span><br>
            </div>
            <div>
              <label for="color">Color:</label><span id="color"> {{ pet.color }}</span><br>
            </div>
            <div>
              <label for="observations">Observations:</label><span id="observations"> {{ pet.observations }}</span><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <p class="title is-5 has-text-centered">Vaccines</p>
      <table class="table">
        <thead>
          <tr>
            <th title="Description">Description</th>
            <th title="Datetime">Datetime</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vaccine of pet.vaccines">
            <td>{{ vaccine.description }}</td>
            <td>{{ vaccine.localDateTime }}</td>
            <td><button (click)="openModal(vaccine.id, 'vaccines')" class="button is-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <a [routerLink]="[ '/pets', pet.id, 'add-vaccine' ]" class="button is-primary">Add Vaccine</a>

      <p class="title is-5 has-text-centered">Surgeries</p>
      <table class="table">
        <thead>
          <tr>
            <th title="Description">Description</th>
            <th title="Datetime">Datetime</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let surgerie of pet.surgeries">
            <td>{{ surgerie.description }}</td>
            <td>{{ surgerie.localDateTime }}</td>
            <td><button (click)="openModal(surgerie.id, 'surgeries')" class="button is-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <a [routerLink]="[ '/pets', pet.id, 'add-surgerie' ]" class="button is-primary">Add Surgerie</a>

      <p class="title is-5 has-text-centered">Diseases</p>
      <table class="table">
        <thead>
          <tr>
            <th title="Description">Description</th>
            <th title="Datetime">Datetime</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let disease of pet.diseases">
            <td>{{ disease.description }}</td>
            <td>{{ disease.localDateTime }}</td>
            <td><button (click)="openModal(disease.id, 'diseases')" class="button is-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <a [routerLink]="[ '/pets', pet.id, 'add-disease' ]" class="button is-primary">Add Disease</a>

      <p class="title is-5 has-text-centered">Reproductive History</p>
      <table class="table">
        <thead>
          <tr>
            <th title="Number of puppies">Number of puppies</th>
            <th title="Datetime">Datetime</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of pet.reproductiveHistory">
            <td>{{ record.numberOfpuppies }}</td>
            <td>{{ record.localDateTime }}</td>
            <td><button (click)="openModal(record.id, 'reproductions')" class="button is-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <a [routerLink]="[ '/pets', pet.id, 'add-reproductive-history' ]" class="button is-primary">Add Reproductive History</a>

      <p class="title is-5 has-text-centered">Deworming</p>
      <table class="table">
        <thead>
          <tr>
            <th title="Drug">Drug</th>
            <th title="Result">Result</th>
            <th title="Datetime">Datetime</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let deworm of pet.deworming">
            <td>{{ deworm.drug }}</td>
            <td>{{ deworm.result }}</td>
            <td>{{ deworm.localDateTime }}</td>
            <td><button (click)="openModal(deworm.id, 'deworms')" class="button is-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <a [routerLink]="[ '/pets', pet.id, 'add-deworming' ]" class="button is-primary">Add Deworming</a>

      <p class="title is-5 has-text-centered">Visits</p>
      <table class="table">
        <thead>
          <tr>
            <th title="Datetime">Datetime</th>
            <th title="Reason">Reason</th>
            <th title="Diagnosis">Diagnosis</th>
            <th title="Indications">Indications</th>
            <th title="Weight">Weight</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let visit of pet.visits">
            <td>{{ visit.localDateTime }}</td>
            <td>{{ visit.reason }}</td>
            <td>{{ visit.diagnosis }}</td>
            <td>{{ visit.indications }}</td>
            <td>{{ visit.weight }}</td>
            <td><button (click)="openModal(visit.id, 'visits')" class="button is-danger">Delete</button></td>
          </tr>
        </tbody>
      </table>

      <a [routerLink]="[ '/pets', pet.id, 'add-visit' ]" class="button is-primary">Add Visit</a>

    </div>
  </div>

</div>

<div *ngIf="deleteModalIsActive" class="modal is-active">
  <div (click)="closeModal()" class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete?</p>
      <button (click)="closeModal()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      Do you want to proceed?
    </section>
    <footer class="modal-card-foot">
      <button (click)="delete()" class="button is-danger">Delete</button>
      <button (click)="closeModal()" class="button">Cancel</button>
    </footer>
  </div>
</div>
