/* You can add global styles to this file, and also import other style files */
@charset "utf-8";

html {
  height:100%;
}

body {
  min-height:100%;
  padding:0;
  margin:0;
  position:relative;
}

body::after {
  content: '';
  display: block;
  height: 320px; /* Set same as footer's height */
}

.navbar-item img {
  max-height: 5rem;
}

.fa-github {
  margin-left: 0.5rem;
}

.footer {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}
